<!doctype html>
<html lang="en" data-ng-app="Produtos">
<head>
  <meta charset="UTF-8">
  <title>Loja</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
  <script src="../../../angularjs/angular.min.js"></script>
  <style>
    .wrapper {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>
<body data-ng-controller="UserController as User">
  <section class="row wrapper">
    <h1>{{ User.titulo }}</h1>
    
    <span data-ng-init="predicate = 'name'; reverse = true;"></span>
    <table>
      <thead>
        <tr>
          <th colspan="4">
            <label>
              <input ng-model="searchUser" placeholder="Search">
            </label>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Produtos </th>
          <th>Preço</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in User.users | filter:searchUser ">
          <td >
          <input type="checkbox" id="user-{{$index}}" ng-model="user.selecionado" />
            <label for="user-{{$index}}"></label>
          </td>
          
            <td>{{user.produtos}}</td>
            <td>{{user.preco}}</td>
            <td>
            <button data-ng-click="User.edit(user, $index)" class="btn blue waves-effect waves-light col s12" type="submit" name="action">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s3" type="submit" name="action">Remove
    </button>
    <button data-ng-click="User.add(User.form)" class="btn btn-large green waves-effect waves-light col s3" type="submit" name="action">Adicionar</button>
    <button data-ng-click="User.save(User.form)" class="btn btn-large blue waves-effect waves-light col s3" type="submit" name="action">Salvar</button>
</body>
</html>