<!doctype html>
<html lang="en" data-ng-app="Cadastro">
<head>
  <meta charset="UTF-8">
  <title>Funcionários</title>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
 <script src="../angularjs/angular.min.js"></script>
  <script src="app.js"></script>
<style>
    .wrapper {
      max-width: 600px;
      margin: 0 auto;
    }
  </style>
</head>
<body data-ng-controller="UserController as User">

  <section class="row wrapper">
    <h1>{{ User.titulo }}</h1>
    <p class="col s12">
      <label>
        <input type="text" data-ng-model="User.form.nome" placeholder="Name">
      </label>
      <br>
      <label>
        <input type="number" data-ng-model="User.form.idade" placeholder="Idade">
      </label>
   
    <label>
        <input type="date" data-ng-model="User.form.data" placeholder="Data de Nascimento">
      </label>
      <br>
      <label>
        <input type="text" data-ng-model="User.form.cpf" maxlength="11" placeholder="Ex.: 000.000.000-00">
      </label>
    </p>
    
    <button data-ng-click="User.add(User.form)" class="btn btn-large green waves-effect waves-light col s6" type="submit" name="action">Adicionar</button>
    <button data-ng-click="User.save(User.form)" class="btn btn-large blue waves-effect waves-light col s6" type="submit" name="action">Salvar</button>
    <span data-ng-init="predicate = 'name'; reverse = true;"></span>
    <table>
      <thead>
        <tr>
          <th colspan="4">
            <label>
              <input ng-model="searchUser" placeholder="Search">
            </label>
          </th>
        </tr>
        <tr>
          <th></th>
          <th>Nome </th>
          <th>Idade</th>
          <th>Data de Nascimento</th>
          <th>Cpf</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="user in User.users | filter:searchUser ">
          <td >
          <input type="checkbox" id="user-{{$index}}" ng-model="user.selecionado" />
            <label for="user-{{$index}}"></label>
          </td>
          
            <td>{{user.nome}}</td>
            <td>{{user.idade}}</td>
            <td>{{user.data | date: 'dd/MM/yyyy'}}</td>
            <td>{{user.cpf}}</td>
            <td>
            <button data-ng-click="User.edit(user, $index)" class="btn blue waves-effect waves-light col s12" type="submit" name="action">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
    <button data-ng-click="User.remove(User.users)" class="btn btn-large red waves-effect waves-light col s12"  type="submit" name="action">Remover
    </button>
  </section>

 
  
</body>
</html>